* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main {
  width: 960px;
  margin: 50px auto;
}

.box {
  width: 300px;
  float: left;
  border: 1px solid #eeeeee;
  padding: 10px;
  position: relative;
  margin-right: 30px;
}
.box:last-child{
  margin-right: 0;
}

.step1,.step2,.step3 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: orange;
  color: white;
  padding: 4px;
}

.box-image1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}
.box-image2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}
.box-image3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}
.title {
  margin: 15px 0 5px;
}
@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  .box {
    float: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .box:first-child {
    margin-top: 0;
  }
  .box:last-child{
    margin-right: auto;
  }
  .box-image1,.box-image2,.box-image3 {
    width: 100%;
  }
}